/* Home */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #000;
  }

.titleHead{
    color: aqua;
  }

  /* Navbar */
  nav .logo {

    flex: 1;
    display: flex;
    align-items: center;
    font-size: 2rem;
  }

nav {
  position: fixed;
  display: flex;
  width: 100%;
  margin: 0px 10px;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  z-index: 2;
  background-color: aqua;
 
}
nav .navLinks {
  flex: 2;
  position: fixed;
  display: flex;
  padding: 25px 0px 10px 10px; 
  text-decoration: none;

  border-radius: 5px;
  color: #000; 
  justify-content: space-between;
  align-items: center;
  
}
nav .navLinks .links {
    display: flex;
    gap: 20px;
  
  }
  nav .navLinks .links a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.1px;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: aqua; /* Link text color */
    background-color: #000; /* Background color */
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  nav .navLinks .links a:hover {
    color: red;
    transition: 0.3s;
    cursor: pointer;
    text-shadow: 100px;
    border-color: red;
    border-radius: 15px;
  }
  nav .loginBtn {
    background-color: red;
    color: black;
  
  }
  nav .loginBtn:hover {
    background-color: black;
    color: red;
  }
  nav .logoutBtn {
    background: linear-gradient(135deg, black, rgb(49, 49, 49));
  }
  nav .btn {
    padding: 8px 20px;
   background: transparent;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    z-index: 2;
    color: red;
  }
  nav .btn:hover{
  
    color: aqua;
  
  }
  nav svg {
    font-size: 1.75rem;
  }
  @media (max-width: 1520px) {
    nav {
      min-width: 100%;
      padding: 25px 20px 40px 20px;
  
    }
  }
  nav .hamburger {
    display: none;
    color: #000;
  }

  /* Book Appointment Button */

  .appointButton{
    color:red;
    background-color: #fff;
    justify-content: ceenter;
    align-items: center;
  
    margin-left: 400px;
    height: 80px;
    width: 400px;
  
  }
  .appointButton:hover{
    background-color: aqua;
    color: black;
  }

  /* Login */

  .login-form {
    margin: 100px auto 20px auto;
    max-width: 800px;
    text-align: center;
  }
  .login-form h2 {
    color: green;
  }

  /* Register */

  .register-form {
    max-width: 1200px;
    margin: 100px auto 20px auto;
  }

  .register-form h2 {
    color: green;
  }

  .container {
    padding: 0 20px;
    margin: 0 0px;
  
  
  }
  @media (max-width: 700px) {
    .container {
      padding: 0 20px;
  
    }
  }

  .form-component h2 {

    color: green;
    letter-spacing: 4px;
    margin-bottom: 30px;
    background-color: aqua;
    text-align: center;
  }
  .form-component h4 {
    color: green;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .form-component p {
    max-width: 750px;
    color: green;
    margin-bottom: 20px;
  }
  .form-component form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .form-component form div {
    display: flex;
    gap: 30px;
  }
  .form-component form input,
  .form-component form select,
  .form-component form textarea {
    flex: 1;
    font-size: 24px;
    padding: 10px 10px 10px 40px;
    border-radius: 7px;
    border: 1px solid green;
    color: purple;
  }
  .form-component button {
    padding: 10px 35px;
    color: #000;
    font-weight: 700;
    width: fit-content;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    margin-bottom: 30px;
    background: linear-gradient(140deg, aqua, green);
  }

  @media (max-width: 888px) {
    .form-component {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .form-component form div {
      flex-direction: column;
    }
  }

  @media (max-width: 667px) {
    .form-component form input,
    .form-component form select,
    .form-component form textarea {
      font-size: 20px;
      padding: 10px;
    }
  }
  @media (max-width: 1110px) {
    .appointment-form form div:nth-child(4) {
      flex-direction: column;
    }
    .appointment-form form div:nth-child(5) {
      flex-direction: column;
    }
  }

  /* Department */

  .departments {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .departments h2 {
    color: green;
    margin-bottom: 30px;
  }

  .card {
    position: relative;
    border-radius: 8px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 20px;
    min-height: 360px;
    margin: 0 10px;
    text-decoration: none;
  }
  .card img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
  }
  .card .depart-name {
    margin-bottom: 30px;
    background: g;
    width: 320px;
    font-size: 24px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding: 12px;
    border-radius: 30px;
    left: 0;
    height: fit-content;
    font-weight: 700;
  }
  