

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #000;
  }

.titleHead{
    color: aqua;
  }
  nav .logo {

    flex: 1;
    display: flex;
    align-items: center;
    font-size: 2rem;
  }

nav {
  position: fixed;
  display: flex;
  width: 100%;
  margin: 0px 10px;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  z-index: 2;
  background-color: aqua;
 
}
nav .navLinks {
  flex: 2;
  position: fixed;
  display: flex;
  padding: 25px 0px 10px 10px; 
  text-decoration: none;

  border-radius: 5px;
  color: #000; 
  justify-content: space-between;
  align-items: center;
  
}
nav .navLinks .links {
    display: flex;
    gap: 20px;
  
  }
  nav .navLinks .links a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.1px;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: aqua; /* Link text color */
    background-color: #000; /* Background color */
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  nav .navLinks .links a:hover {
    color: red;
    transition: 0.3s;
    cursor: pointer;
    text-shadow: 100px;
    border-color: red;
    border-radius: 15px;
  }
  nav .loginBtn {
    background-color: red;
    color: black;
  
  }
  nav .loginBtn:hover {
    background-color: black;
    color: red;
  }
  nav .logoutBtn {
    background: linear-gradient(135deg, black, rgb(49, 49, 49));
  }
  nav .btn {
    padding: 8px 20px;
   background: transparent;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    z-index: 2;
    color: red;
  }
  nav .btn:hover{
  
    color: aqua;
  
  }
  nav svg {
    font-size: 1.75rem;
  }
  @media (max-width: 1520px) {
    nav {
      min-width: 100%;
      padding: 25px 20px 40px 20px;
  
    }
  }
  nav .hamburger {
    display: none;
    color: #000;
  }

  
  .appointButton{
    color:red;
    background-color: #fff;
    justify-content: ceenter;
    align-items: center;
  
    margin-left: 400px;
    height: 80px;
    width: 400px;
  
  }
  .appointButton:hover{
    background-color: aqua;
    color: black;
  }